@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0 none;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

/*
Card with image
*/
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 2rem; */
  margin-bottom: 2rem;
}
.cards__item {
  width: 100%;
  height: 250px;
  margin: 0.5rem 0 0.5rem 0;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.2);
}
.cards__top {
  display: flex;
  flex-direction: column;
}
.cards__img-container {
  height: 180px;
}
.cards__img-container img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 100%;
  border-radius: 1rem 1rem 0 0;
}
.cards__img-container--vertical-image img {
  object-position: 50% 62.5%;
}
.cards__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cards__row-left {
  width: 85%;
  padding: 0.6rem 0 0 1rem;
}
.cards__row-left h3, .cards p {
  text-transform: capitalize;
}
.cards__row-right {
  width: 15%;
  align-self: center;
  padding-top: 0.5rem;
}
.cards-right-img {
  object-fit: cover;
}
.cards li {
  list-style: none;
}
.cards a {
  width: 88%;
  margin: 0.5rem 0 0.5rem 0;
}
.cards a, .cards a:visited {
  text-decoration: none;
  color: black;
}

.large-gradient-button {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  min-width: 185px;
  height: 42px;
  font-weight: 500;
  margin: 20px 0 0 10px;
  margin-bottom: 60px;
  text-align: center;
  color: white;
  box-shadow: 4px 4px 4px #D5D5D5;
  background: #9356DC;
  background: -webkit-linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  background: -moz-linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
}

.menus-title {
  border-radius: 30px 30px 0 0;
  padding: 1rem;
  position: relative;
  margin-top: -30px;
  background-color: #F6F6F6;
}
.menus-title span i {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.loader {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Shrikhand";
  opacity: 1;
  animation: clear-loader 2.5s forwards;
}
.loader__lttr {
  color: #353535;
  letter-spacing: 0.4rem;
  transform: scale(1) translateY(0px);
}
.loader__lttr:nth-child(1) {
  animation: blink-primary 0.5s;
}
.loader__lttr:nth-child(2) {
  animation: blink-secondary 0.5s 0.25s;
}
.loader__lttr:nth-child(3) {
  animation: blink-primary 0.5s 0.5s;
}
.loader__lttr:nth-child(4) {
  animation: blink-third 0.5s 0.75s;
}
.loader__lttr:nth-child(5) {
  animation: blink-primary 0.5s 1s;
}
.loader__lttr:nth-child(6) {
  animation: blink-secondary 0.5s 1.25s;
}
.loader__lttr:nth-child(7) {
  animation: blink-third 0.5s 1.5s;
}
.loader__lttr:nth-child(8) {
  animation: blink-primary 0.5s 1.75s;
}

@keyframes blink-primary {
  0% {
    color: #353535;
    transform: scale(1);
  }
  10% {
    color: #9356DC;
    transform: scale(1.5);
  }
  100% {
    color: #353535;
    transform: scale(1);
  }
}
@keyframes blink-secondary {
  0% {
    color: #353535;
    transform: scale(1);
  }
  10% {
    color: #FF79DA;
    transform: scale(1.5);
  }
  100% {
    color: #353535;
    transform: scale(1);
  }
}
@keyframes blink-third {
  0% {
    color: #353535;
    transform: scale(1);
  }
  10% {
    color: #99E2D0;
    transform: scale(1.5);
  }
  100% {
    color: #353535;
    transform: scale(1);
  }
}
@keyframes clear-loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
FOOTER ON ALL PAGES
*/
.footer {
  background-color: #353535;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
}
.footer__h1 {
  font-size: 1.25rem;
  margin: 1rem 0;
}
.footer__item {
  margin: 0.5rem 0;
  list-style-type: none;
}
.footer__item:nth-child(1) i {
  margin-right: 0.75rem;
}
.footer__item:nth-child(2) i {
  font-size: 0.75rem;
  margin-right: 0.6rem;
}
.footer__contact-mailto {
  text-decoration: none;
  color: white;
}
.footer__contact-mailto:hover {
  color: #9356DC;
}

/*
HEADER
*/
.header-menus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: relative;
}
.header-menus__return-home {
  position: absolute;
  left: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
.header-menus__figure {
  margin: 1rem 0 0.75rem 0;
}

.menus-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem 0 1rem;
  margin-bottom: 2rem;
}
.menus-cards-container__title {
  text-transform: uppercase;
  color: #6C6C6C;
  border-bottom: 4px solid #99E2D0;
  width: 18%;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}
.menus-cards-container__cards {
  background-color: #F6F6F6;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 98%;
}
.menus-cards-container__item {
  margin: 0.5rem 0;
  position: relative;
  background-color: white;
  width: 100%;
  height: 75px;
  list-style: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 4px #EAEAEA;
  overflow: hidden;
}
.menus-cards-container__item h3 {
  width: 100%;
}
.menus-cards-container__item p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s;
}
.menus-cards-container__item p span {
  display: inline-block;
}
.menus-cards-container__item p span:nth-child(1) {
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: "...";
}
.menus-cards-container__item p span:nth-child(2) {
  font-weight: 900;
}
.menus-cards-container__item:hover {
  cursor: pointer;
}
.menus-cards-container .content {
  width: 20%;
  height: 75px;
  background-color: #99E2D0;
  position: absolute;
  top: 0;
  right: -20%;
  transition: right 0.5s;
}
.menus-cards-container .menus-cards-container__item:hover {
  cursor: pointer;
}
.menus-cards-container .menus-cards-container__item:hover p {
  width: 80%;
}
.menus-cards-container .menus-cards-container__item:hover .content {
  right: 0;
}
.menus-cards-container .menus-cards-container__item:hover .content .wheel {
  animation: turning-wheel 0.5s 1 forwards;
}
.menus-cards-container .container-wheel {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menus-cards-container .wheel {
  background-color: white;
  padding: 8px 10px;
  border-radius: 50%;
  transform: rotate(0deg);
  font-size: 1rem;
  font-weight: 900;
  color: #99E2D0;
}
@keyframes turning-wheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
MAIN CONTAINER
*/
.main-container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  /* animation: test-main 3s; */
}

/* @keyframes test-main {
    0% {opacity: 0}
    90% {opacity: 0}
    100% {opacity: 1}
} */
/*
HEADER
*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110px;
}
.header__figure {
  margin: 1rem 0 0.75rem 0;
}
.header__desc {
  width: 100%;
  background-color: #EAEAEA;
  text-align: center;
  height: 50px;
  padding: 10px 0 0 10px;
  border-top: 2px solid #D5D5D5;
}
.header__span-map {
  margin-right: 1rem;
}

/*
EXPLORER
*/
.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
.explorer__p--large {
  width: 88%;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 20px 0 0 10px;
}
.explorer__p--medium {
  width: 88%;
  font-weight: 400;
  text-align: center;
  margin: 20px 0 0 10px;
}

/*
FONCTIONNEMENT
*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: white;
}
.fonctionnement__desc--large {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px 0 0 10px;
  margin-bottom: 1rem;
  margin-left: 20px;
}
.fonctionnement__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  margin: 10px 0;
  counter-reset: fonctionnementCount;
}
.fonctionnement__li-item {
  position: relative;
  min-width: 250px;
  /*         max-width: 600px; */
  width: 86%;
  height: 70px;
  list-style: none;
  background-color: #F6F6F6;
  margin: 10px 0;
  padding-left: 20%;
  border-radius: 25px;
  padding-top: 1.8rem;
  box-shadow: 5px 5px 8px #EAEAEA;
}
.fonctionnement__li-item::before {
  counter-increment: fonctionnementCount;
  content: counter(fonctionnementCount);
  position: absolute;
  top: 1.5rem;
  left: -0.5rem;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
}
.fonctionnement__li-item > span {
  color: #7E7E7E;
  position: absolute;
  left: 12.5%;
}
.fonctionnement__li-item:nth-child(1) > span {
  color: #7E7E7E;
  font-size: 1.25rem;
  top: 25px;
}
.fonctionnement__li-item:nth-child(2) > span {
  color: #7E7E7E;
}
.fonctionnement__li-item:nth-child(3) > span {
  color: #7E7E7E;
}
.fonctionnement__li-item:hover {
  background-color: #F5EDFF;
  cursor: pointer;
  box-shadow: 5px 5px 8px #D5D5D5;
}
.fonctionnement__li-item:hover > span {
  color: #9356DC;
}

/*
RESTAURANTS
*/
.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}
.restaurants__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px 0 0 10px;
  margin-bottom: 1rem;
  margin-left: 20px;
}

/*
MAIN MENUS CONTAINER
*/
body {
  background-color: #F6F6F6;
}

.menus-container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  /* background-color: $bg-lightgrey; */
}

.section-btn-commander {
  margin: 2rem 0;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
