.menus-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem 0 1rem;
    margin-bottom: 2rem;

    &__title{
        text-transform: uppercase;
        color: #6C6C6C;
        border-bottom: 4px solid $third;
        width: 60px;
        line-height: 2.5rem;
        margin-bottom: .5rem;
    }
    &__cards {
        background-color: $bg-lightgrey;
        border-radius: 20px 20px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;  
        width: 98%;
    }
    &__item {
        margin: .5rem 0;
        position: relative;
        background-color: $text-white;
        width: 100%;
        height: 75px;
        list-style: none;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 4px 4px $bg-mediumgrey;
        overflow: hidden;

        &:hover {
            cursor: pointer;
        }
        & h3 {
            width: 100%; 
            white-space: nowrap;
            overflow: hidden;
            text-overflow: "...";
            transition: width .5s;
        }
        &:hover h3 {
            width: 80%;
        }
        & p {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            transition: width .5s;
        }
        & p span {
            display: inline-block;
        }
        & p span:nth-child(1) {
            white-space: nowrap; 
            width: 80%; 
            overflow: hidden;
            text-overflow: "...";
        }
        & p span:nth-child(2) {
            font-weight: 900;
        }
        &:hover p {
            width: 80%;
        }
        &:hover .content {
            right: 0;   
        }
        &:hover .content .wheel{
            animation: turning-wheel .5s 1 forwards;
        }
        & .content {
            width: 20%;
            height: 75px;
            background-color: #99E2D0;
            position: absolute;
            top: 0;
            right: -20%;
            transition: right .5s;   
        }
        & .container-wheel {
            display:flex;
            flex-direction: center;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        & .wheel {
            background-color: white;
            padding: 8px 10px;
            border-radius: 50%;
            transform: rotate(0deg);
            font-size: 1rem;
            font-weight: 900;
            color: #99E2D0;
        }        
    }   
}

// Animation
@keyframes turning-wheel {
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}


