.heart-select {
	color: black;

    &:hover {
        cursor: pointer;
        display: inline-block;
        background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
        opacity: 1;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        animation: heart-painting .3s ease-in-out;
    }
}

@keyframes heart-painting {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

