.loader {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex; 
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: "Shrikhand";
    animation: clear-loader 6s forwards;
    

    &__lttr {
        color: #353535;
        letter-spacing: .4rem;
        transform: scale(1) translateY(0px);

        & h1 {
            text-transform: lowercase;
        }
    
        &:nth-child(1) {
            animation: blink-primary .5s ;
        }
        &:nth-child(2) {
            animation: blink-secondary .5s .2s ;
        }
        &:nth-child(3) {
            animation: blink-primary .5s .4s ;
        }
        &:nth-child(4) {
            animation: blink-third .5s .6s ;
        }
        &:nth-child(5) {
            animation: blink-primary .5s .8s ;
        }
        &:nth-child(6) {
            animation: blink-secondary .5s 1s ;
        }
        &:nth-child(7) {
            animation: blink-third .5s 1.2s ;
        }
        &:nth-child(8) {
            animation: blink-primary .5s 1.4s ;
        }
    }
}
@keyframes blink-primary {
    0% { color: #353535; transform: scale(1) }
    10% { color: $primary; transform: scale(1.5) }
    100% { color: #353535; transform: scale(1) }
}
@keyframes blink-secondary {
    0% { color: #353535; transform: scale(1) }
    10% { color: $secondary; transform: scale(1.5) }
    100% { color: #353535; transform: scale(1) }
}
@keyframes blink-third {
    0% { color: #353535; transform: scale(1) }
    10% { color: $third; transform: scale(1.5) }
    100% { color: #353535; transform: scale(1) }
}

@keyframes clear-loader {
    0% { opacity: 1 }
    90% { opacity: .9 }
    100% { opacity: 0; z-index: -1000}
  }

