/*
MAIN CONTAINER
*/
.main-container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    /* animation: test-main 3s; */
}

/* @keyframes test-main {
    0% {opacity: 0}
    90% {opacity: 0}
    100% {opacity: 1}
} */

/*
HEADER
*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;

    &__figure {
        margin: 1rem 0 0.75rem 0;
    }

    &__desc {
        width: 100%;
        background-color: $bg-mediumgrey;
        text-align: $center-text;
        height: 50px;
        padding: 10px 0 0 10px;
        border-top: 2px solid $bg-darkgrey;
    }
    &__span-map {
        margin-right: 1rem;
    }
}

/*
EXPLORER
*/
.explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-lightgrey;

    &__p--large {
        width: 88%;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: $center-text;
        margin: $margin-20;
    }

    &__p--medium {
        width: 88%;
        font-weight: 400;
        text-align: $center-text;
        margin: $margin-20;
    }
}

/*
FONCTIONNEMENT
*/
.fonctionnement {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    &__desc--large {
        font-size: 1.5rem;
        font-weight: 600;
        margin: $margin-20;
        margin-bottom: 1rem;
        margin-left: 20px;
    }

    &__ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        margin: 10px 0;
        counter-reset: fonctionnementCount;
    }

    &__li-item {
        position: relative;
        min-width: 250px;
/*         max-width: 600px; */
        width: 86%;
        height: 70px;
        list-style: none;
        background-color: $bg-lightgrey;
        margin: 10px 0;
        padding-left: 20%;
        border-radius: 25px;
        padding-top: 1.8rem;
        box-shadow: 5px 5px 8px $bg-mediumgrey;
        
    }

    &__li-item::before {    
        counter-increment: fonctionnementCount;
        content: counter(fonctionnementCount);
        position: absolute;
        top: 1.5rem;
        left: -0.5rem;
        color: white;
        background-color: $primary;
        border-radius: 50%;
        padding: .25rem .5rem;
    }

    &__li-item > span {
        color: #7E7E7E;
        position: absolute;
        left: 12.5%; 
    }

    &__li-item:nth-child(1) > span {
        color: #7E7E7E;
        font-size: 1.25rem;
        top: 25px;
    }

    &__li-item:nth-child(2) > span {
        color: #7E7E7E;
    }

    &__li-item:nth-child(3) > span {
        color: #7E7E7E;
    }

    &__li-item:hover {
        background-color: $primary-clear;
        cursor: pointer;
        box-shadow: 5px 5px 8px $bg-darkgrey;
    }

    &__li-item:hover > span {
        color: $primary;  
    }
}

/*
RESTAURANTS
*/
.restaurants {
    background-color: $bg-lightgrey;
    display: flex;
    flex-direction: column;
    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin: $margin-20;
        margin-bottom: 1rem;
        margin-left: 20px;
    }
}


