// MAIN CONTAINER
.main-container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

// HEADER
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;

    &__figure {
        margin: 1rem 0 0.75rem 0;
    }

    &__desc {
        width: 100%;
        background-color: $bg-mediumgrey;
        text-align: $center-text;
        height: 50px;
        padding: 10px 0 0 10px;
        border-top: 2px solid $bg-darkgrey;
    }
    &__span-map {
        margin-right: 1rem;
    }
}


// EXPLORER
.explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-lightgrey;

    &__p--large {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: $center-text;
        margin: $margin-20;
    }

    &__p--medium {
        font-weight: 400;
        text-align: $center-text;
        margin: $margin-20;
    }

    &__a-btn {
        text-decoration: none;
        padding: 0.75rem;
        border-radius: 30px;
        height: 42px;
        font-weight: 500;
        margin: $margin-20;
        margin-bottom: 60px;
        color: $text-white;
        box-shadow: 4px 4px 4px $bg-darkgrey;
        background: #9356DC;
        background: -webkit-linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
        background: -moz-linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
        background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);

    }
}

// FONCTIONNEMENT
.fonctionnement {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    &__desc--large {
        font-size: 1.5rem;
        font-weight: 600;
        margin: $margin-20;
        margin-bottom: 1rem;
        margin-left: 20px;
    }

    &__ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 10px 0;
    }

    &__li-item {
        width: 86%;
        height: 70px;
        list-style: none;
        background-color: $bg-lightgrey;
        margin: 10px 0;
        text-align: center;
        border-radius: 25px;
        padding-top: 1.8rem;
        box-shadow: 5px 5px 8px $bg-mediumgrey;
    }

    &__li-item > span {
        margin-right: 2rem;
        color: #7E7E7E;
    }

    &__li-item:hover {
        background-color: $primary-clear;
        cursor: pointer;
        box-shadow: 5px 5px 8px $bg-darkgrey;
    }

    &__li-item:hover > span {
        color: $primary;  
    }
}



// FOOTER
.footer {
    background-color: $bg-footer;
    color: $text-white;
    font-weight: 600;
    padding: 0.5rem 1.5rem;

    &__h3 {
        margin: 1rem 0;
    }

    &__item {
        margin: 0.5rem 0;
    }

    &__contact-mailto {
        text-decoration: none;
        color: $text-white;
    }
    &__contact-mailto:hover {
        color: $primary;
    }
}
.footer span {
    margin-right: 1rem;
}




