/*
MAIN MENUS CONTAINER
*/
body {
    background-color: #F6F6F6;
}

h1 {
    text-transform: capitalize;
}

.menus-container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    /* background-color: $bg-lightgrey; */

    
}

.section-btn-commander {
    margin: 3rem 0 5rem 0;
    text-align: center;
}